{
    "config_name": "installation_identifier",
    "domain": "yourdomain.com",
    "secret": "flask_secret",
    "database_name": "example_database",
    "database_kvargs": {
        "user": "root",
        "password": "example_password",
        "host": "db",
        "port": 3306
    },
    "node_args": {
        "host": "firod",
        "port": 8888,
        "user": "rpcuser",
        "password": "rpcpassword"
    },
    "show_dev_credit": true,
    "enforce_limit": true,
    "limit": 25,
    "enforce_invite": false,
    "invite": "invite_key_if_private_instance",
    "should_send_mail": true,
    "mailgun_domain": "your_email_domain",
    "mailgun_key": "your_mailgun_api_key"
}
